{% block css %}
<link rel="stylesheet" href="/media_rsc/css/adventures_index.css" type="text/css" media="screen,projection" />

<link rel="stylesheet" href="/media_rsc/js/goog/css/menubutton.css"> 
<link rel="stylesheet" href="/media_rsc/js/goog/css/menu.css"> 
<link rel="stylesheet" href="/media_rsc/js/goog/css/menuitem.css"> 
<link rel="stylesheet" href="/media_rsc/js/goog/css/menuseparator.css"> 
<link rel="stylesheet" href="/media_rsc/js/goog/css/flatmenubutton.css"> 
{% endblock %}
<div id="adventures" class="columns span-23 last">     
         {% for adventure in adventures.data %}
                <div class="adventure clickable span-9 last" url="{{adventure.absolute_url}}">
                    <div class="adventure-picture span-3">
                      <!--<a href="{{adventure.get_absolute_url}}">-->
                        <img src="{{ adventure.picture}}"/>
                      <!--</a>-->
                    </div>
                    <div id="adventure-info" class="span-4 last">
                     <span class="adventure-title">{{adventure.name|truncatewords:15}}</span>
                     <br/>
                     ${{adventure.cost}} <span class="unimportant" >per person</span>
                     <br/> 
                     <span class="adventure-location">{{adventure.location_formatted_address|truncatewords:15}}</span>
                    </div>
                 </div>			           
				   {% empty %}
              No Results        
			  {%endfor%}       
</div>


{% block js %}
<script src="/media_rsc/js/jquery/js/jquery-1.4.2.min.js"></script>
<script>
    $("div.clickable").click(
    function()
    {
        window.location = $(this).attr("url");
    });
 </script> 
{% endblock %}
