{% extends "base.html" %}
{% block title %}{% endblock %}
{% block css %}
<link rel="stylesheet" href="/media_rsc/css/adventure_detail.css" type="text/css" media="screen,projection" />
{% endblock %}
{% block content %}
{{message}}
<div id="content" class="span-24 last">   
  <div id="content-header" class="span-24 last">
    <span><a href="javascript:history.go(-1)">&larr; Back to Search</a></span>
  </div>
  <div id="adventure-display">
    <div id="adventure-description" class="span-10">
      <h2>{{adventure.name}}</h2>
      {{adventure.price}}
      <br/>
      ${{adventure.cost}} <span class="unimportant" >per person</span>
      <br/>
      {{adventure.location_formatted_address}}
      <br/>      
    </div>
    <div id="adventure-picture" class="span-8 last">
      {% for picture in adventure.pictures.all %}
        {{ picture.picture.extra_thumbnails_tag.medium }}
      {% empty %}
       No pictures
      {% endfor %}    
    </div>
  </div>
   
</div>

{% endblock %}
