<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="http://closure-library.googlecode.com/svn/trunk/closure/goog/base.js"></script>
    <script> 
      goog.require('goog.array');
      goog.require('goog.events');
      goog.require('goog.events.EventType');
      goog.require('goog.object');
      goog.require('goog.debug.DivConsole');
      goog.require('goog.debug.Logger');
      goog.require('goog.debug.LogManager');
      goog.require('goog.ui.Component.EventType');
      goog.require('goog.ui.FlatMenuButtonRenderer');
      goog.require('goog.ui.Option');
      goog.require('goog.ui.Select');
      goog.require('goog.ui.Separator');
      goog.require('goog.ui.decorate');
    </script> 
    <link rel="stylesheet" href="http://closure-library.googlecode.com/svn/trunk/closure/goog/demos/css/demo.css">
    <link rel="stylesheet" href="http://closure-library.googlecode.com/svn/trunk/closure/goog/css/menubutton.css">
    <link rel="stylesheet" href="http://closure-library.googlecode.com/svn/trunk/closure/goog/css/menu.css">
    <link rel="stylesheet" href="http://closure-library.googlecode.com/svn/trunk/closure/goog/css/menuitem.css">
    <link rel="stylesheet" href="http://closure-library.googlecode.com/svn/trunk/closure/goog/css/menuseparator.css">
    <link rel="stylesheet" href="http://closure-library.googlecode.com/svn/trunk/closure/goog/css/flatmenubutton.css">
  </head>
  <body>
    <div id="flat-ferrell" class="goog-flat-menu-button"> 
      Make your choice...
      <ul class="goog-menu"> 
        <li class="goog-menuitem">Ron Burgundy</li> 
        <li class="goog-menuitem">Chazz Reinhold</li> 
        <li class="goog-menuitem">Chazz Michael Michaels</li> 
        <li class="goog-menuitem">Ricky Bobby</li> 
      </ul> 
    </div>  
    <script>
      // Decorate an element with a Select control using FlatMenuButtonRenderer.
      var flatSelect4 = new goog.ui.Select(null, null, goog.ui.FlatMenuButtonRenderer.getInstance());
      flatSelect4.decorate(goog.dom.getElement('flat-ferrell'));
    </script>
  </body>
</html>
